.container {
      padding-top: 60px;
      width: 1100px;
      margin: 0 auto;
}

h1 {
      font-size: 32px;
      line-height: 150%;
      font-family: "Merriweather", serif;
      font-weight: bold;
      margin-bottom: 15px;
}

.first {
      width: 100%;
      float: left;
      position: relative;
      font: 400 18px arial;
      line-height: 160%;
      padding: 0;
      color: #222;
}

.first .p {
      margin: 0 0 1em;
      line-height: 160%;
      text-rendering: optimizeSpeed;
}

.image-main {
      width: 100%;
      text-align: center;
}

.image-main p {
      font: 400 14px arial;
      line-height: 160%;
      color: #222;
      padding: 10px 0 0 0;
      margin: 0;
      text-align: left;
      padding-bottom: 20px;
}

.width-common .name-account {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      cursor: pointer;
      font: 700 16px arial;
      height: 40px;
      color: #4f4f4f;
}

.width-common .btn-send {
      padding: 0;
      height: 40px;
      line-height: 38px;
      border-radius: 4px;
      width: 100px;
      font-size: 15px;
      color: #fff;
      font-weight: 700;
      background: #C92A57;
      border: 1px solid #C92A57;
      font-family: "Merriweather", serif;
}

.box-area textarea {
      width: 700px;
      padding: 12px;
}

.box-area textarea:focus {
      color: 1px solid #B42652;

}

.comment {
      transform-origin: 0px 0px;
      opacity: 1;
      transform: scale(1, 1);
}

.comment-item {
      padding: 15px 0 0 0;
}

.user-status {
      position: relative;
      float: left;
}

.user-status a {
      margin: 0 12px 0 0;
      float: left;
      width: 36px;
      height: 36px;
      background: #E5E5E5;
      line-height: 36px;
      text-align: center;
      color: #949494 !important;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 18px !important;
      font-family: arial;
      border-radius: 50%;
      position: relative;
}

.user-status img {
      width: 36px;
}

.comment-item {
      width: 100%;
      float: left;
}

.content-comment {
      padding: 0 0 0 48px;
      margin-top: 0;
}

.full-content {
      padding-bottom: 0;
      font: 400 16px arial;
      line-height: 150%;
      color: #4f4f4f;
}

.txt-name {
      font-size: 1.2rem;
      color: #222;
      margin-right: 5px;
}

.txt-name a {
      font-size: 1.3rem;
      color: #222;
      position: relative;
      font-weight: 600;
}

.block-like {
      float: left;
      text-align: left;
      padding: 0;
      font-size: 14px;
      position: relative;
      margin-top: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
}

.link-like {
      position: relative;
      padding-right: 0 !important;
      margin-right: 24px !important;
      background: none !important;
      color: #757575;
}