footer {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer-menu ul {
    display: block;
}

footer .footer-menu ul li {
    list-style-type: none;
    line-height: 30px;
    display: block;
}

footer .footer-menu ul li a {
    color: var(--text-header-bottom);
    text-decoration: none;
    font-weight: bold;
}

.menu-main a {
    color: #000!important;
}

.footer-contact>div {
    display: flex;
    width: 97%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.footer-contact div p {
    color: var(--text-header-bottom);
    text-decoration: none;
    font-weight: bold;
}

.footer-contact .contact-logo .logo {
    display: flex;
}

.footer-contact .contact-logo .logo img {
    height: 50px;
    width: auto;
    margin-left: 20px;
}

.footer-contact .contact-logo .logo p {
    text-indent: 10px;
    color: var(--text-header-bottom);
    font-weight: bold;
}

.footer-contact .contact-logo .detail {
    display: flex;
}

.footer-contact .contact-logo .detail img {
    height: 35px;
    width: 35px;
    margin: 5px;
}

.footer-contact .contact-logo .detail p {
    margin-right: 20px;
    color: var(--text-header-bottom);
    font-weight: bold;
}